@font-face {
    font-family: 'dev-font-regular';
    src: url('./assets/fonts/JetBrainsMono-Regular.ttf');
}

@font-face {
    font-family: 'dev-font-heading';
    src: url('./assets/fonts/JetBrainsMono-ExtraBold.ttf');
}

@font-face {
    font-family: 'dev-font-medium';
    src: url('./assets/fonts/JetBrainsMono-Medium.ttf');
}

html {
    scroll-behavior: smooth;
}

body {
    display: block !important;
    background-color: #213636;
    font-size: 1em;
    color: #989285;
    margin: 1%;
    padding: 0;
    font-family: 'dev-font-medium';
}

.link {
    color: #bdb76b;
}

.sidenav {
    height: 5%;
    width: 100%;
    position: fixed;
    /* Stay in place */
    z-index: 999;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #1f2127;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    display: flex;
    flex-direction: row;
    row-gap: 10%;
    padding: 1%;
    align-items: center;
}

.sidenav a {
    text-align: center;
    text-decoration: none;
    color: inherit;
    display: flex;
    float: left;
    padding: 2%;
}

.sidenav a:hover {
    color: #828631;
}

.sidenav .active {
    color: #828631;
}

.link a {
    text-align: center;
    text-decoration: none;
    color: inherit;
    display: flex;
}

.link a:hover {
    color: #828631;
}

header {
    font-size: 3em;
    text-align: center;
}

.content {
    margin-top: 8%;
}

.content p {
    line-height: 1.5;
}

h1 {
    margin: 0;
    font-family: 'dev-font-medium';
}

.about-me {
    text-align: center;
}

.intro-container {
    display: flex;
    flex-direction: row;
}

.intro-description {
    font-family: 'dev-font-medium';
    font-size: 0.8em;
    color: inherit;
    width: 50%;
    padding: 1%;
}

.intro-canvas {
    width: 50%;
    min-height: 500px;
    position: relative;
}

.icon {
    position: relative;
    bottom: -5px;
    width: 24px;
    height: 24px;
}

.arrow-left {
    content: url('./assets/icons/arrow-down.svg');
    transform: rotate(90deg);
    background-color: #989285;
    height: 24px;
    width: 24px;
}

.arrow-right {
    content: url('./assets/icons/arrow-down.svg');
    transform: rotate(-90deg);
    background-color: #989285;
    height: 24px;
    width: 24px;
}

.arrow-up {
    content: url('./assets/icons/arrow-down.svg');
    transform: rotate(180deg);
    background-color: #989285;
    height: 24px;
    width: 24px;
}

.github {
    background-color: #989285;
    content: url('./assets/icons/github.svg');
}

.linkedIn {
    content: url('./assets/icons/linkedIn.png');
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0px;
    padding: 0px;
    z-index: 999;
    font-family: 'dev-font-regular';
    text-align: center;
    font-size: 0.6em;
    background-color: #1f2127;
    overflow-x: hidden;
}

@media screen and (max-width: 700px) {
    div.content {
        margin-top: 15%;
        margin-left: 0;
    }

    div.intro-container {
        flex-direction: column;
    }

    div.intro-description {
        width: 100%;
    }

    div.intro-canvas {
        width: 100%;
    }
}

.game-overlay {
    background: rgba(0, 0, 0, .6);
    position: absolute;
    z-index: 998;
    top: 0px;
    padding: 1%;
    color: #989285;
}

.controls-overlay {
    position: absolute;
    z-index: 998;
    bottom: 0px;
}

.game-css {
    position: absolute;
    z-index: 998;
    top: 0px;
}

.game-stats {
    position: absolute;
    right: 20px;
    opacity: 0.9;
    z-index: 998;
}

.snake-label {
    background-color: transparent;
    padding: 2px;
    font-size: 10px;
    color: #213636;
    font-weight: bold;
}
