@font-face {
    font-family: 'dev-font-regular';
    src: url('./assets/fonts/JetBrainsMono-Regular.ttf');
}
@font-face {
    font-family: 'dev-font-heading';
    src: url('./assets/fonts/JetBrainsMono-ExtraBold.ttf');
}
@font-face {
    font-family: 'dev-font-medium';
    src: url('./assets/fonts/JetBrainsMono-Medium.ttf');
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #213636;
    display: block;
    font-size: 1em;
    color: #989285;
    margin: 1%;
    padding: 0;
    font-family: 'dev-font-medium';
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 5%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #1f2127; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    display: flex;
    flex-direction: column;
    row-gap: 10%;
    padding: 1%;
    align-items: center;
}

.sidenav a {
    text-align: center;
    text-decoration: none;
    color: inherit;
    display: flex;
}

.sidenav a:hover {
    color: #828631;
}

.sidenav .active {
    color: #828631;
}

header {
    font-size: 3em;
    text-align: center;
}

.content {
    margin-left: 10%;
}

.content p {
    line-height: 1.5;
}

h1 {
    margin: 0;
    font-family: 'dev-font-medium';
}

.about-me {
    text-align: center;
}

.intro-container {
    display: flex;
    flex-direction: row;
}

.intro-description {
    font-family: 'dev-font-medium';
    font-size: 1em;
    color: inherit;
    width: 50%;
    padding: 1%;
}

.intro-canvas {
    width: 50%;
    min-height: 500px;
}

.icon {
    width: 24px;
    height: 24px;
    position: relative;
    bottom: -5px;
}


footer {
    font-family: 'dev-font-regular';
    text-align: center;
    font-size: 1em;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 20px;
    clear: both;
}

@media screen and (max-width: 700px) {
    .sidenav {
        height: 5%;
        width: 100%;
        position: fixed;
        flex-direction: row;
    }
    .sidenav a { float: left; padding: 2%; }
    div.content { margin-top: 15%; margin-left: 0; }
    div.intro-container { flex-direction: column; }
    div.intro-description { width: 100%; }
    div.intro-canvas { width: 100%; }
}
